<html>
	<head>
		<title>My JSP 'addUser.jsp' starting page</title>
	</head>

	<body>
		<form action="/addUser.do" method="POST">
			<table>
				<tr>
					<td>name:</td>
					<td><input type="text" name="name" required></td>
				</tr>
				<tr>
					<td>age:</td>
					<td><input type="text" name="age" required></td>
				</tr>
				<tr>
					<td>address:</td>
					<td><input type="text" name="address" required></td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="Save">
					</td>
					<td>
						<input type="reset" value="Reset">
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
